<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    <img
      alt=""
      role="presentation"
      width="99999"
      height="99999"
      style="pointer-events: none; position: absolute; top: 0; left: 0; width: 99vw; height: 99vh; max-width: 100%; max-height: 99vh;"
      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+"
    >

      <link rel="preconnect" href="{{ 'theme.scss.css' | asset_url }}">

    {% comment %}
        <script defer>
      !function (w, d, t) {
        w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

        ttq.load('C8BLM0108UUP07H0IJ80');
        ttq.page();
      }(window, document, 'ttq');
      </script>
    {% endcomment %}

    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}
      {% if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% render 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="https://use.typekit.net/qqf8kmq.css">
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <!-- Sections ================================================== -->
    <script>
      window.theme = window.theme || {};
      theme.strings = {
        zoomClose: {{ "products.zoom.close" | t | json }},
        zoomPrev: {{ "products.zoom.prev" | t | json }},
        zoomNext: {{ "products.zoom.next" | t | json }},
        moneyFormat: {{ shop.money_format | json }},
        addressError: {{ 'home_page.map.address_error' | t | json }},
        addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
        authError: {{ 'home_page.map.auth_error_html' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookie: {{ 'cart.general.cookies_required' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
        productSlideLabel: {{ 'products.product.slide_label' | t: slide_number: '[slide_number]', slide_max: '[slide_max]' | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }},
        gridType: {{ settings.collection_products_grid | json }}
      };
    </script>

    <script src="{{ 'vendors.js' | asset_url }}" defer></script>
    <script>
      window.addEventListener('load', function () {
        lazySizesConfig.loadHidden = false;
      });
    </script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    {% if request.page_type == 'collection' %}
      <link
        rel="preload"
        href="{{ collection.image | img_url: '960x390' }}"
        as="image"
        imagesrcset="{{ collection.image | img_url: '350x' }} 350w, {{ collection.image | img_url: '480x' }} 480w, {{ collection.image | img_url: '768x' }} 768w, {{ collection.image | img_url: '960x390' }} 960w"
        imagesizes="(min-width: 2040px) 960px, (min-width: 920px) calc(45.45vw + 42px), calc(95vw + 45px)"
      >
    {% endif %}

    {% if request.page_type == 'product' %}
      {%- for media in product.media -%}
        {% if media.media_type == 'image' %}
          <link rel="preload" href="{{ media | img_url: '300x300' }}" as="image">
        {%- endif -%}
      {%- endfor -%}
    {% endif %}

    <!-- Header hook for plugins ================================================== -->
    <!-- This is just so we can add the defer attribute to 3rd party scripts -->
    {% comment %}{{ content_for_header }}{% endcomment %}
    {% assign jsReplace = "var s = document.createElement('script'); if (urls[i].includes('smile-shopify.js') || urls[i].includes('collector.js') || urls[i].includes('klaviyo.js') || urls[i].includes('bingshoppingtool') || urls[i].includes('snapchat') || urls[i].includes('grin-sdk') || urls[i].includes('schemaplusfiles')) { s.defer = true; }" %}
    {{ content_for_header | replace: "var s = document.createElement('script');", jsReplace }}

    {% comment %}
      If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if request.page_type contains 'customers/' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
    {% unless shop.domain contains 'dev' %}
      {% comment %}
        <!-- AFTERPAY -->
        <!-- <script src="https://js.afterpay.com/afterpay-1.x.js" data-analytics-enabled></script> -->

        <script>
          let afterPayScript = document.createElement('script');
          afterPayScript.setAttribute('src','https://js.afterpay.com/afterpay-1.x.js');
          afterPayScript.setAttribute('data-analytics-enabled','true');
          window.addEventListener("load", function(){
            document.head.appendChild(afterPayScript);
          });
        </script>
      {% endcomment %}

      {% comment %}
        <!-- TikTok -->
        <script> !function (w, d, t) { w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)}; ttq.load('C1MVB0C98FMC4VRTLBKG'); ttq.page(); }(window, document, 'ttq'); </script>
      {% endcomment %}

      {% comment %}
        <!-- YOTPO -->
        <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/Gk39EhlYyu8rWfcHw8xp7auOG1OW7eXYcCZOaqhg?languageCode={{ localization.language.iso_code | escape }}" async></script>
      {% endcomment %}

      {% comment %}
        <!-- Global site tag (gtag.js) - Google Analytics FOR GOOGLE OPTIMIZE -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43839349-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-43839349-1', { 'optimize_id': 'GTM-N3H3NQC'});
        </script>
      {% endcomment %}

      {% comment %}
        <!-- Global site tag (gtag.js) - Google Ads: 939316220 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-939316220"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'AW-939316220');
        </script>
      {% endcomment %}

      <!-- Google Merchant Verification -->
      <meta name="google-site-verification" content="x3DGGFSm12HfhBHgOJ_tAWfj7YWElSkYOcQNyXkgIwo">

      <!-- Google Search Console Verification -->
      <meta name="google-site-verification" content="UW4vWTdtx65crpShuZmaQz1pmjF2XRm1Pbp2WXf8gyQ">

      <!-- Google Tag Manager -->
      <script>
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ND5364L');
      </script>
      <!-- End Google Tag Manager -->

      {% comment %}
        <!-- BING ADS UET TAG -->
        <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5713263"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
      {% endcomment %}

      <!-- Bing Webmasters Verify -->
      <meta name="msvalidate.01" content="A37CB1B554D550598C56E291466571F4">

      <!-- Start of feeturesrunning Zendesk Widget script -->
      <!--
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=063336f5-742d-4819-aae6-bba2dfcbbb22"> </script>
      -->
      <!-- End of feeturesrunning Zendesk Widget script -->

      {% comment %}
        <!-- OwnerIQ Analytics tag -->
        <script>
          window._oiqq = window._oiqq || [];
          _oiqq.push(['oiq_addPageLifecycle', 'p543']);
          _oiqq.push(['oiq_doTag']);
          (function() {
            var oiq = document.createElement('script'); oiq.type = 'text/javascript'; oiq.async = true;
            oiq.src = document.location.protocol + '//px.owneriq.net/stas/s/akf33j.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(oiq, s);
          })();
        </script>
      {% endcomment %}

      {% comment %}
        <!-- Taboola Pixel Code -->
        <script type='text/javascript'>
          window._tfa = window._tfa || [];
          window._tfa.push({notify: 'event', name: 'page_view', id: 1290647});
          !function (t, f, a, x) {
            if (!document.getElementById(x)) {
              t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
            }
          }(document.createElement('script'),
                  document.getElementsByTagName('script')[0],
                  '//cdn.taboola.com/libtrc/unip/1290647/tfa.js',
                  'tb_tfa_script');
        </script>
        <noscript>
          <img src='https://trc.taboola.com/1290647/log/3/unip?en=page_view' width='0' height='0' style='display:none'/>
        </noscript>
        <!-- End Taboola Pixel Code -->
      {% endcomment %}

      {% comment %}
        <!-- outbrain pixel-->
        <script data-obct type="text/javascript">
            /** DO NOT MODIFY THIS CODE**/
            !function(_window, _document) {
              var OB_ADV_ID='00a99a9dab5f0d8df12bc4eb23ce4923fb';
              if (_window.obApi) {var toArray = function(object) {return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];};_window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));return;}
              var api = _window.obApi = function() {api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);};api.version = '1.1';api.loaded = true;api.marketerId = OB_ADV_ID;api.queue = [];var tag = _document.createElement('script');tag.async = true;tag.src = '//amplify.outbrain.com/cp/obtp.js';tag.type = 'text/javascript';var script = _document.getElementsByTagName('script')[0];script.parentNode.insertBefore(tag, script);
            }(window, document);
              obApi('track', 'PAGE_VIEW');
        </script>
        {% if template contains 'product' %}
          <script>
            obApi('track', 'Product Page');
          </script>
        {% elsif template contains 'collection'  %}
          <script>
            obApi('track', 'Collections Page');
          </script>
        {% endif %}
        <!-- End outbrain pixel-->
      {% endcomment %}
    {% endunless %}

    {% comment %}
      <!-- Test -->
      {% include 'ga4-ecommerce' %}
    {% endcomment %}

    {% include 'loyaltylion' %}

    <!-- ASPIRE PIXEL -->
    <script>
      !(function () {
        var o = (window.tdl = window.tdl || []);
        if (o.invoked)
          window.console && console.error && console.error('Tune snippet has been included more than once.');
        else {
          (o.invoked = !0),
            (o.methods = ['init', 'identify', 'convert']),
            (o.factory = function (n) {
              return function () {
                var e = Array.prototype.slice.call(arguments);
                return e.unshift(n), o.push(e), o;
              };
            });
          for (var e = 0; e < o.methods.length; e++) {
            var n = o.methods[e];
            o[n] = o.factory(n);
          }
          o.init = function (e) {
            var n = document.createElement('script');
            (n.type = 'text/javascript'), (n.async = !0), (n.src = 'https://js.go2sdk.com/v2/tune.js');
            var t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(n, t), (o.domain = e);
          };
        }
      })();

      tdl.init('https://aspireiq.go2cloud.org');
      tdl.identify();
    </script>
    <!-- END ASPIRE PIXEL -->
  </head>

  {% comment %}
    Add the page template as a class for easy page or template specific styling.
  {% endcomment %}
  <body
    id="{{ page_title | handle }}"
    class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-ND5364L"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript
      ><img
        src="//bat.bing.com/action/0?ti=5713263&Ver=2"
        height="0"
        width="0"
        style="display:none; visibility: hidden;"
    ></noscript>
    {% section 'announcement-bar' %}
    {% section 'header' %}
    {% section 'main-search' %}
    {% section 'sale-header' %}

    <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
      <div class="drawer__fixed-header">
        <div class="drawer__header">
          <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
          <a class="drawer__cart-link" href="/cart">View Cart</a>
          <div class="drawer__close">
            <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
              {% render 'icon-x.svg' %}
              <span class="visually-hidden">{{ 'cart.general.close_cart' | t }}</span>
            </button>
          </div>
          {% render 'cart-sale-header' %}
          <div class="drawer__ship">
            <div class="drawer__ship-msg">You're just $55 from free shipping!</div>
            <div class="drawer__ship-bar">
              <div class="drawer__ship-bar-inner"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer__inner">
        <div id="CartContainer" class="drawer__cart"></div>
      </div>
    </div>

    <div id="PageContainer" class="page-container">
      <main class="main-content" role="main">
        {% unless request.page_type == 'index'
          or request.page_type == 'product'
          or request.page_type == 'collection'
          or page.template_suffix contains 'lp'
        %}
          <div class="wrapper">
        {% endunless %}
        {{ content_for_layout }}
        {% unless request.page_type == 'index'
          or request.page_type == 'product'
          or request.page_type == 'collection'
          or page.template_suffix contains 'lp'
        %}
          </div>
        {% endunless %}
      </main>

      {% section 'footer' %}
    </div>

    {% comment %}
      Template-specific js
    {% endcomment %}
    <script>
      {% if resetPassword %}
        $(function() {
          timber.initCache();
          timber.resetPasswordSuccess();
        });
      {% endif %}
    </script>

    {% comment %}
      Ajaxify your cart with this plugin.
      Documentation:
        - http://shopify.com/timber#ajax-cart
    {% endcomment %}
    {% if settings.cart_type == 'drawer' %}
      {% include 'ajax-cart-template' %}
    {% endif %}

    {% if request.page_type == 'product' or request.page_type == 'index' %}
      <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
    {% endif %}

    <div id="SearchModal" class="mfp-hide">
      {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
    </div>
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
      <li id="a11y-slideshow-info">{{ 'home_page.slideshow.navigation_instructions' | t }}</li>
    </ul>

    {% unless shop.domain contains 'dev' %}
      <!-- Google Code for Remarketing Tag -->
      <!--
        ------------------------------------------------
        Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
        -------------------------------------------------
      -->
      <script type="text/javascript">
        var google_tag_params = {
        ecomm_totalvalue: '{{ subtotal_price | money | remove: '$' }}',
        };
      </script>
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 939316220;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
      </script>
      <script async type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
      <noscript>
        <div style="display:inline;">
          <img
            height="1"
            width="1"
            style="border-style:none;"
            alt=""
            src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939316220/?guid=ON&amp;script=0"
          >
        </div>
      </noscript>

      {% comment %}
        <!-- AvantLink -->
        <script type="text/javascript">
          (function() {
          var avm = document.createElement('script'); avm.type = 'text/javascript'; avm.async = true;
          avm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.avmws.com/1016253/';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(avm, s);
          })();
        </script>
      {% endcomment %}

      <!-- Sweettooth -->
      {% if customer %}
        {% assign digest = customer.id | append: shop.metafields.sweettooth.api_secret | md5 %}
        {% assign customerId = customer.id %}
      {% endif %}
      <div
        class="sweettooth-init"
        data-channel-api-key="{{ shop.metafields['sweettooth'].api_key }}"
        data-external-customer-id="{{ customerId }}"
        data-customer-auth-digest="{{ digest }}"
      ></div>
      <div class="sweettooth-tab"></div>

      <!--
        Unbounce
        <script src="//d304ba5147244bfa849204a87e31caab.js.ubembed.com" async></script>
      -->

      {% comment %}Limited this script from running except on sock finder because it was loading two really large images on every page{% endcomment %}
      {% comment %}
        {% if page.handle == "which-feetures" %}
          <!-- Cartful -->
          <script>
              (function(c,a,r,t,f,u,l){c[u]=c[u]||function(){(c[u].q=c[u].q||[]).push(arguments)},l=a.createElement(r),l.async=1,l.id=u+"scr",l.src=f,a[t].appendChild(l)})(window,document,"script","body","//embed.cartfulsolutions.com/feetures-sock-finder/recommendation.min.js","cfl666");
          </script>
        {% endif %}
      {% endcomment %}

      {% render 'dynamic-retargeting' %}

      {% comment %}
        <!-- Attentive tag
        <script async src="https://cdn.attn.tv/feetures/dtag.js"></script>
        -->
        <script>
          let attentiveTag = document.createElement('script');
          attentiveTag.setAttribute('src','https://cdn.attn.tv/feetures/dtag.js');
          window.addEventListener("load", function(){
            document.head.appendChild(attentiveTag);
          });

        </script>
      {% endcomment %}
    {% endunless %}

    <!--
      klaviyo back in stock JS, from: https://help.klaviyo.com/hc/en-us/articles/360001895651-Install-Back-in-Stock-in-Your-Shopify-Theme
    -->
    {% comment %}
      DISABLE KLAVIYO BIS WIDGET IN FAVOR OF CUSTOM API INTEGRATION
        <script async src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>

      <script>
        window.addEventListener('load', function () {
          bindKlaviyoOnsite();
        });

        function bindKlaviyoOnsite() {
          if (typeof klaviyo != 'undefined') {
            klaviyo.init({
              account: 'HnW8Sn',
              platform: 'shopify',
            });
            klaviyo.enable('backinstock', {
              trigger: {
                product_page_text: 'Email me when available',
                product_page_class: 'btn',
                product_page_text_align: 'center',
                product_page_margin: '0px',
                alternate_anchor: 'atc_wrapper',
                replace_anchor: false,
              },
              modal: {
                headline: '{product_name}',
                body_content: 'Register to receive a notification when this item comes back in stock.',
                email_field_label: 'Email',
                button_label: 'Notify me when available',
                subscription_success_label: "You're in! We'll let you know when it's back.",
                footer_content: '',
                additional_styles:
                  "font-family: 'Gotham';   src: url({{ 'gotham_book_regular.otf' }});   font-weight: 400;   font-display: swap;",
                drop_background_color: '#000',
                background_color: '#fff',
                text_color: '#222',
                button_text_color: '#fff',
                button_background_color: '#000',
                close_button_color: '#000',
                error_background_color: '#fcd6d7',
                error_text_color: '#C72E2F',
                success_background_color: '#d3efcd',
                success_text_color: '#1B9500',
                font_family: 'Arial',
              },
            });
          } else {
            setTimeout(function () {
              bindKlaviyoOnsite();
            }, 1000);
          }
        }
      </script>
    {% endcomment %}

    {% comment %}
      <!--Gorgias Chat Widget Start-->
       <script>
            let gorgiasChat = document.createElement('script');
            gorgiasChat.setAttribute('src','https://config.gorgias.chat/bundle-loader/01GYCCG412RTRQXHR06XC7G8A3');
            window.addEventListener("load", function(){
              document.head.appendChild(gorgiasChat);
            });
        </script>
        <!--
      <script id="gorgias-chat-widget-install-v3"     src="https://config.gorgias.chat/bundle-loader/01GYCCG412RTRQXHR06XC7G8A3"> </script>
      -->
      <!--Gorgias Chat Widget End-->

        <!--Gorgias OLD Chat Widget Start-->
       <!--
       <script>
            let gorgiasChat = document.createElement('script');
            gorgiasChat.setAttribute('src','https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=18896');
            window.addEventListener("load", function(){
              document.head.appendChild(gorgiasChat);
            });
        </script>

        <script async id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=18896"></script>
        -->
        <!--Gorgias OLD Chat Widget End-->
    {% endcomment %}
  </body>
</html>
